.theme-dark {
  animation: changeTheme 1s;
  @keyframes changeTheme {
    from {
      background-color: #dbdada;
    }
    to {
      background-color: #3b3838;
    }
  }
  background-color: #3b3838;
  min-height: 100vh;
  p{
    color: #c7c5c5;
  }
}
.theme-light {
  animation: changeThemeLight 1s;
  @keyframes changeThemeLight {
    from {
      background-color: #3b3838;
    }
    to {
      background-color: #dbdada;
    }
  }
  background-color: #dbdada;
}
