.photo-card {
  width: fit-content;
  position: relative;
  margin-top: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: #bbb9b9;
  overflow: hidden;
  .photo {
    padding: 0.5rem;
    align-self: center;
    overflow: hidden;
    img {
      width: 100%;
      max-width: 250px;
      max-height: 250px;
      border-radius: 10px;
      animation: zoomin 1s;
      @keyframes zoomin {
        0% {
          scale: 1.5;
        }
        100% {
          scale: 1;
        }
      }
    }
  }
  &:hover .remove-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    animation: fadeIn 1s;
    @keyframes fadeIn {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
  &:hover img {
    scale: 1.5;
    animation: scale 1s;
    @keyframes scale {
      0% {
        scale: 1;
      }
      100% {
        scale: 1.5;
      }
    }
  }
  .remove-edit {
    border-radius: 10px;
    background-color: #d4d3d3;
    background: radial-gradient(
      circle,
      rgba(212, 211, 211, 0.4430147058823529) 0%,
      rgba(212, 211, 211, 0.4430147058823529) 100%
    );
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .photo-info {
    padding: 0.5rem;

    display: flex;
    gap: 0.5rem;
    border-top: 1px solid #a5a5a5;
    justify-content: space-between;
    p {
      margin: 0;
      font-size: 1.25rem;
    }
  }
}
.photo-card-theme-dark {
  background-color: #585757;
  .photo-info {
    border-top: 1px solid #7c7878;
  }
}
