.photo-form {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  .div-photo {
    margin-top: 0.5rem;
    text-align: center;
    img {
      width: 250px;
      height: 250px;
    }
  }
  .button {
    margin-bottom: 0 !important;
    padding-bottom: 1rem;
  }
}
.photo-form-theme-dark {
  color: #f0eaea;
}
