.header {
  padding: 0.5rem 0;
  a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    &:hover {
      color: #606061;
    }
  }
}
.header-theme-dark {
  a {
    color: #f0eaea;
  }
}
